<div class="container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Add Dealer</button>
            <ng-template ngbNavContent>
                <form [formGroup]="dealerlist" (ngSubmit)="onClick()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="emploeId" id="floatingInput"
                                    placeholder="Emplyee Id">
                                <label for="floatingInput">Employee ID</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="name" id="floatingPassword"
                                    placeholder="Name">
                                <label for="floatingPassword">Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" formControlName="pnumber" id="floatingInput"
                                    placeholder="Contact">
                                <label for="floatingInput">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="address" id="floatingPassword"
                                    placeholder="Address">
                                <label for="floatingPassword">Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Add Dealer</button>
                        <!-- <button class="btn btn-danger ms-2" type="reset">Reset</button> -->
                    </div>
                </form>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>Dealer List</button>
            <ng-template ngbNavContent>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Employe ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Address</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dealer of allDealers; let i = index">
                                <th scope="row">{{i + 1}}</th>
                                <th scope="row">{{dealer.emploeId}}</th>
                                <td>{{dealer.name}}</td>
                                <td>{{dealer.pnumber}}</td>
                                <td>{{dealer.address}}</td>
                                <td><i class="fas fa-pen-square text-warning" (click)="editUser(dealer.id)"></i><i
                                        class=" fas fa-trash text-danger ms-4"
                                        (click)="deleteSingleUser(dealer.id)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>